page-rate-us {
    rating {
        color: #ff8f00;
    }
    .ion_zoom {
        zoom: 1.3 !important;
    }
    rating ul{
    	padding-left: 10px;
    }
    ion-textarea{
    font-size: 14px;
    }
}
